<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ApiSuite">
  
  <listeners>
	  <listener class-name="api.utilities.ExtentReportManager"></listener>
  </listeners>
  
  
  <test thread-count="5" name="Test1">
    <classes>
      <class name="api.test.UserTests"/>
      <class name="api.test.DataDrivenTest"/>
      <class name="api.test.PetModel_Tests"/>
      <class name="api.test.ReqresTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
